.footer {
  bottom: 0;
  height: 80px;
  padding: 10px 0;
  text-align: center;
  background: #eee;
  color: #444;
  width: 100%;
}

h2 {
  text-align: center;
  color: #ff5252;
}

.control-panel {
  margin: 20px auto;
  display: block;
}

.col-md-8 object {
  margin: 20px auto;
  display: block;
}


ul {
  list-style-type: none;
}

ul li {
  cursor: pointer;
}

ul label {
  margin-left: 10px;
  cursor: pointer;
}
